<div class="post">
    <div class="header">
        <h1>Post title</h1>
        <button routerLink="/" class="btn btn-link">Home page</button>
    </div>
    <div class="info">
        <strong>Author</strong>
        <small>21.07.2022</small>
    </div>
    <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium aut nostrum dolorum autem quam aspernatur necessitatibus laborum et ducimus magnam architecto laudantium nulla ex soluta magni consequuntur labore, placeat modi corporis unde. Quam beatae, nam a sequi atque illum omnis incidunt ab sunt minima quae fugiat doloremque officia placeat ex!</p>
    </div>
</div>
